$font1: Westmeath;
$font1-italic: Westmeath-Italic;
$font2: Bitter-Regular;
$font2-italic: Bitter-Italic;
$font2-bold: Bitter-Bold;

$shadow-large: 10px 2px 0 rgba(43, 34, 35, 1);
$shadow: 4px 2px 0 rgba(43, 34, 35, 1);

$black: #2b2223;
$white: #fdfddf;
